.Parallax {
    background-color: #111;
    width: 100vw;
    height: 100vh;
}

.JsTextAnimation001 {
    background-color: #111;
    width: 100vw;
    height: 100vh;
}

.BasicInputAnimation {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 60vh;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}


.CustomSelectInput {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.JsTextAnimation002glitchEffect {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #000
}