@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

.JsTextAnimation {
    font-family: Raleway, sans-serif;
}


.Fancy {

}

.H1 {
    color: #91caff;
    font-size: 6rem;
    text-align: center;
    line-height: 100vh;
}

/* fading */
/* .Span {
    font-size: 4rem;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(20px);
    display: inline-block;
}

.Span.Fade {
    opacity: 1;
    transform: translateY(0);
} */

/* color shift */
.Span {
    font-size: 6rem;
    transition: all 0.5s ease;
}

.Span.ColorShift {
    color: #3988ff;
}