@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


.ParallaxV2 {
    font-family: Poppins, sans-serif;
}

.Section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 10000;
}

.Section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a2a43;
    z-index: 10000;
    mix-blend-mode: color;
}

.Section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.Text {
    position: relative;
    color: #fff;
    font-size: 10em;
    z-index: 1
}

.Road {
    z-index: 2
}